<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :address_keyword, value: @address_keyword, placeholder: "場所"%>
    <%= f.text_field :details_keyword, value: @details_keyword, placeholder: "キーワード" %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<h3 class="index-count">検索結果 <%= @rooms.count %>件</h3>
<div class="index">
  <% @rooms.each do | room | %>
    <%= link_to room_path(room), class: "room-item" do %>
     <%= image_tag room.image_name.url, size: "300x200" %>
       <h3> <%= room.name %> </h3>
       <p class="details"> <%= room.details %> </p>
       <p> <%= room.price %> 円</p>
       <p> <%= room.address %> </p>
     <% end %>
  <% end %>
</div>
