<h2 class="menu"> 登録ルーム一覧</h2>
<div class="index">
  <% @rooms.each do | room | %>
  <div class="room-item">
    <%= link_to room_path(room) do %>
      <%= image_tag room.image_name.url, size: "300x200" %>
      <h3> <%= room.name %> </h3>
      <p class="details"> <%= room.details %> </p>
      <p> <%= room.price %> 円</p>
      <p> <%= room.address %> </p>
      <div class="room-edit">
        <p> <%= room.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d') %> </p>
     <% end %>
        <p> <%= link_to "編集", edit_room_path(room) %></p>
        <p> <%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか?" } %></p>
      </div>
   </div>
  <% end %>
</div>
